<body class="bodyDerrota">
    <img class="img-fluid mx-auto" src="/assets/derrotaBorges.jpg">
    <audio autoplay>
        <source src="/assets/In The End.mp4">
        No sos lo suficientemente cool para esto.
    </audio>
</body>