<body class="bodyDerrota text-center">
    <div class="derrotaDiv mx-auto fs-2 rounded-3 p-2">
        <p style="color:white;">
            Perdiste :( No te preocupes, les pasa a los mejores. Bueno, eso es mentira, los mejores ganan... Pero si queres podes volver a intentar!
        </p>
    </div>

    <a href='@Url.Action("Index", "Home")' type="button" class="btn btn-primary mt-5 fs-5 fw-bold">Volver</a>
</body>